<div class="card">
  <div class="card-header">
    Map base layers
  </div>
  <div class="list-group list-group-flush" data-controller="filter">
    <div class="list-group-item list-group-item-light">
      <input placeholder="Search" class="form-control" data-action="input->filter#update" autofocus>
    </div>
    <% @region.map_tile_layers.order(:name).each do |layer| %>
      <% cache layer do %>
        <div class="list-group-item" data-filter-target="item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="flex-grow-1 mr-1"><%= layer.name %></div>
            <div class="badge badge-primary mx-1">
              <i class="fas fa-border-all"></i>
              <%= number_with_delimiter layer.map_tiles.count %> tiles
            </div>
            <div class="badge badge-primary mx-1">
              <i class="fas fa-search"></i>
              zoom <%= layer.min_zoom %> - <%= layer.max_zoom %>
            </div>
            <div class="badge badge-primary mx-1">
              <i class="fas fa-tag"></i>
              used in <%= pluralize layer.labellings.count, "labelling" %>
            </div>
            <div class="btn-group btn-group-sm ml-1">
              <%= link_to [:admin, layer, action: :edit], class: "btn btn-outline-primary" do %>
                Rename
              <% end %>
              <% if layer.labellings.empty? %>
                <%= link_to [:admin, layer], method: :delete, data: { confirm: "Are you sure you want to delete '#{layer.name}'?" }, class: "btn btn-outline-danger" do %>
                  Delete
                <% end %>
              <% else %>
                <button class="btn btn-outline-danger" disabled>
                  Delete
                </button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
