<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Map overlays
    <%= link_to new_region_overlay_path(@region), class: "btn btn-sm btn-outline-primary", title: "Create new overlay" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div class="list-group list-group-flush" data-controller="filter">
    <div class="list-group-item list-group-item-light">
      <input placeholder="Search" class="form-control" data-action="input->filter#update" autofocus>
    </div>
    <% @region.overlays.order(:name).each do |overlay| %>
      <div class="list-group-item" data-filter-target="item">
        <div class="d-flex align-items-center justify-content-between">
          <span class="swatch" style="background-color: #<%= overlay.colour %>"></span>
          <div class="flex-grow-1 ml-2"><%= overlay.name %></div>
          <div class="btn-group btn-group-sm">
            <%= link_to edit_overlay_path(overlay), class: "btn btn-outline-primary" do %>
              Edit
            <% end %>
            <%= link_to overlay, method: :delete, data: { confirm: "Are you sure you want to delete '#{overlay.name}'?" }, class: "btn btn-outline-danger" do %>
              Delete
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>