<div class="container team-select-container">
    <div class="row">
        <div class="col-md-6">
            <div class="card team-select-card m-0">
                <h2 style="padding-bottom: 10px;">Change Password</h2>
                
                <%= form_with(
                    url: update_password_user_path(current_user),
                    method: :patch,
                    html: {
                        data: {
                            controller: "form",
                            action: "ajax:error->form#onError"
                        }
                    }
                ) do |form| %>
                    <div class="form-group">
                        <%= form.label :current_password, "Current Password" %>
                        <span data-form-target="error" data-field="current_password"></span>
                        <%= form.password_field :current_password, class: "form-control", data: { "form-target": "field", field: "current_password" } %>
                    </div>

                    <div class="form-group">
                        <%= form.label :password, "New Password" %>
                        <span data-form-target="error" data-field="password"></span>
                        <%= form.password_field :password, class: "form-control", data: { "form-target": "field", field: "password" } %>
                    </div>

                    <div class="form-group">
                        <%= form.label :password_confirmation, "Confirm New Password" %>
                        <span data-form-target="error" data-field="password_confirmation"></span>
                        <%= form.password_field :password_confirmation, class: "form-control", data: { "form-target": "field", field: "password_confirmation" } %>
                    </div>

                    <div class="text-right">
                        <%= form.submit "Update Password", class: "btn btn-primary" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div> 