<div class="list-group-item list-group-item-light">
  <i class="fas fa-info-circle"></i>
  To create training data, select a <%= link_to "labelling", [@region, :labelling_groups] %> and click the <i class="fas fa-download"></i> download button at the top of the screen.
</div>
<% @region.training_data_downloads.order(created_at: :desc).each do |download| %>
  <div class="list-group-item">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <strong><%= download.labelling_group.name %></strong>
        <% if download.archive.attached? %>
          <small class="text-muted">
            (<%= number_to_human_size download.archive.byte_size %>)
          </small>
        <% end %>
        <br>
        <%= download.message || tag.em("Pending") %>
        <br>
        <div class="text-muted">Created <%= time_ago_in_words download.created_at %> ago</div>
      </div>
      <div class="btn-group btn-group-sm">
        <%= link_to download.archive.present? ? rails_storage_redirect_url(download.archive) : '#', class: "btn btn-outline-primary #{"disabled" unless download.archive.present?}", title: "Download" do %>
          <i class="fas fa-download"></i>
        <% end %>
        <%= link_to download, method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure you want to delete this training data?" } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
