<div class="card">
  <div class="card-header">Upload map tiles</div>
  <div class="card-body">
    <%=
      form_with(
        model: [:admin, @region, @upload],
        html: {
          data: {
            controller: "file-uploader",
            action: [
              "direct-uploads:start->file-uploader#start",
              "direct-upload:progress->file-uploader#progress",
              "direct-upload:error->file-uploader#error",
            ].join(" ")
          }
        }
      ) do |f|
    %>
      <div class="alert alert-info">
        <p>Use this form to upload map tiles produced by the <a href="https://github.com/predictive-analytics-lab/ssrp-tile-converter" target="_blank">tile conversion tool</a>.</p>
        <p class="mb-0">The archive should be in <code>.tar</code> format, and should contain map tiles with filenames in the following format: <code>{x}-{y}-{z}-{year}.{extension}</code>.</p>
      </div>
      <div class="alert alert-danger">
        <p class="mb-0"><i class="fas fa-exclamation-triangle"></i> <strong>Archives up to 5GB in size are supported</strong>. If you need to upload more than 5GB of map tiles, please split them into multiple archives of up to 5GB each.</p>
      </div>

      <div class="form-group">
        <%= f.label :archive %>
        <div class="custom-file">
          <%= f.file_field :archive, direct_upload: true, accept: "application/x-tar", class: "custom-file-input", style: "cursor: pointer" %>
          <%= f.label :archive, class: "custom-file-label" do %>Choose file<% end %>
        </div>
      </div>

      <%= f.submit "Upload", class: "btn btn-primary", data: { "file-uploader-target": "submitButton" } %>
      <%= link_to "Cancel", [:admin, @region, :map_tile_uploads], class: "btn btn-secondary" %>

      <div class="d-none" data-file-uploader-target="progress">
        <h2 class="h5 mt-3 mb-0">Uploading...</h2>
        <div data-file-uploader-target="status"></div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" data-file-uploader-target="progressBar"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
