<div class="card">
  <div class="card-header">Download map tiles</div>
  <div class="card-body">
    <%=
      form_with(
        model: [:admin, @region, @download],
        html: {
          data: {
            controller: "form",
            action: "ajax:error->form#onError",
          }
        }
      ) do |f|
    %>
      <div class="alert alert-info">
        <p>Use this form to download map tiles for a specific layer & zoom level.</p>
        <p class="mb-0">This will create a ZIP archive containing map tiles with filenames in the following format: <code>{x}-{y}-{z}-{layer}.{extension}</code>.</p>
      </div>

      <div class="form-group">
        <%= f.label :year, "Layer" %>
        <span data-form-target="error" data-field="year"></span>
        <%= f.select :year, @region.map_tile_layers.pluck(:name).sort, {}, class: "form-control", data: { "form-target": "field", field: "year" } %>
      </div>

      <div class="form-group">
        <%= f.label :zoom %>
        <span data-form-target="error" data-field="zoom"></span>
        <%= f.number_field :zoom, class: "form-control", data: { "form-target": "field", field: "zoom" } %>
      </div>

      <%= f.submit "Create archive", class: "btn btn-primary" %>
      <%= link_to "Cancel", [:admin, @region, :map_tile_downloads], class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
