<div class="container">
  <h3>Edit Project</h3>
  <%= form_for @project do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group" id="PROJEDIT303">
        <%= f.label :extent %>
        <span data-form-target="error" data-field="extent"></span>
        <%= f.text_field :extent, value: (@project.extent.present? ? @project.extent.join(', ') : "-49469.089243, 6570068.329224, 55641.379277, 6669018.450996"), class: 'form-control', data: { "form-target": "field", field: "extent" }  %>
        <span id="zoom" class="badge"></span>
    </div>
    <div id="map" style="width: 100%; height: 400px; margin-bottom: 10px;"></div>
    <div id="guide" style="margin-bottom: 10px"></div>

    
    <%= link_to 'Cancel', :back, class: 'btn btn-secondary' %>    
    <%= f.submit 'Save and open project', class: 'btn btn-primary' %>
    <%= f.submit 'Save and return to menus', class: 'btn btn-primary' %>
  <% end %>
</div>

<script>

    document.addEventListener("turbolinks:load", function() {
        mapUpdate('PROJEDIT303')
    });


</script>
