<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
        Edit Project
    </div>
    
    <div class="card-body">
  <%=
    form_with(
      model: [@project],
      html: {
        data: {
          controller: "form",
          action: "ajax:error->form#onError",
        }
      }
    ) do |f|
    %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group" id="PROJEDIT303">
        <%= f.label :extent %>
        <span data-form-target="error" data-field="extent"></span>
        <br>

        <div class="row"> 
          <div class="col">
            <%= f.text_field :extent, value: (@project.extent.present? ? @project.extent.join(', ') : "-49469.089243, 6570068.329224, 55641.379277, 6669018.450996"), class: 'form-control', data: { "form-target": "field", field: "extent" } %>
          </div>
          <div class="col-3" style="padding-left: 1px">
            <%= f.collection_select :value, @extents.order(:name), :id, :name, { include_blank: true }, { style: "width: 100%; height: 100%; background-color: #efefef; border: 0px; border-radius: 5px;" } %>
          </div>
        </div>

        <span id="zoom" class="badge"></span>
    </div>
    <div id="map" style="width: 100%; height: 400px; margin-bottom: 10px;"></div>
    <div id="guide" style="margin-bottom: 10px"></div>

    <div class="row">
      <%= f.hidden_field :layer, class: 'form-control', value: (@project.layer.present? ? @project.layer : '') %>
      <%= f.hidden_field :cql, class: 'form-control', value: (@project.cql.present? ? @project.cql : '') %>
    </div>

    
    <%= link_to 'Cancel', :back, class: 'btn btn-secondary' %>    
    <%= f.submit 'Save and open project', class: 'btn btn-primary' %>
    <%= f.submit 'Save and return to menus', class: 'btn btn-primary' %>
  <% end %>
</div>
</div>
<script>

    document.addEventListener("turbolinks:load", () =>{

      var extents = <%= raw @extents.to_json %>;

      const projEx = document.getElementById('PROJEDIT303')
      if(!projEx) return

        const fn = () => {
            const savedVal = isSavedValue()
            document.getElementById('project_value').value = savedVal
            if(!savedVal){
              document.getElementById('project_layer').value = null
              document.getElementById('project_cql').value = null
            }
        }

        const hardcoded_extents = [
          //{ id: -1, name: "✨Wealden", value:  [ -4034.29345383, 6591225.55995304, 44295.78978777, 6647418.730598 ], layer_source: "shapefiles:westminster_const", layer_cql: "Name='Wealden Co Const'" },
          //{ id: -3, name: "✨Sussex Weald (2024)", value:  [ 2080.11226102, 6592345.75156747, 44298.87523018, 6647418.1918753 ], layer_source: "shapefiles:bdline_gb__westminster_const", layer_cql: "Name='Sussex Weald Co Const'" },
          { id: -2, name: "✨Brighton Pravilion", value: [ -21125.72504206, 6589221.35051539, -9227.54925854, 6602279.95570845 ], layer_source: "shapefiles:westminster_const", layer_cql: "Name='Brighton, Pavilion Boro Const'" },
          { id: -4, name: "✨Wealden District Council", value: [ -4034.29345383, 6574916.01820335, 50108.2508596, 6647418.730598 ], layer_source: "shapefiles:district_borough_unitary", layer_cql: "Name='Wealden District'" },
      ]

        extents = [...extents, ...hardcoded_extents]

        const extent_select = document.getElementById('project_value')
        if(!extent_select) return
        extent_select.innerHTML = ''

        extents.forEach(extent => {
          const option = document.createElement('option')
          option.value = extent.id
          option.text = extent.name
          extent_select.appendChild(option)
        })  
  
      document.getElementById('project_value').addEventListener('change', () => {
          const valueId = document.getElementById('project_value').value
          const value = extents.find(ext => ext.id == valueId).value
          const extent = value ?? [-49469.089243, 6570068.329224, 55641.379277, 6669018.450996]

          // Layer and CQL for advanced extents
          const layer = extents.find(ext => ext.id == valueId).layer_source || ''
          const cql = extents.find(ext => ext.id == valueId).layer_cql || ''
          document.getElementById('project_layer').value = layer
          document.getElementById('project_cql').value = cql

          document.getElementById('project_extent').value = extent.join(', ')
          mapUpdate('PROJEDIT303', fn)
      })

      function isSavedValue(){
          const extent = document.getElementById('project_extent').value.split(',').map(Number)
          let id = ""
          extents.forEach((ext) => {
              if(extent[0] == ext.value[0] && extent[1] == ext.value[1] && extent[2] == ext.value[2] && extent[3] == ext.value[3]){
                id = ext.id
              }
          })
          return id
      }

      mapUpdate('PROJEDIT303', fn)

      document.getElementById('project_value').value = isSavedValue()

    })




</script>
