<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Projects
    <%= link_to [@team, :project, action: :new], class: "btn btn-sm btn-outline-primary", title: "Create new project" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div class="list-group list-group-flush" data-controller="filter">
    <div class="list-group-item list-group-item-light">
      <input
        type="text"
        placeholder="Search"
        class="form-control"
        data-action="input->filter#update"
        data-filter-target="input" 
        autofocus
      >
    </div>
    <% @team_projects.sort_by { |project| project.name.downcase }.each do |project| %>
      <div class="list-group-item list-group-item-action p-0 align-items-center" data-filter-target="item" style="display: flex;">
        <%= link_to project_path(project.id), class: "list-group-item list-group-item-action border-0" do %>
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <%= project.name %> 
              <br>
              <span class="small text-secondary">
                <%= project.updated_at.strftime("Last updated: %b %d, %Y, %H:%M") %>
              </span>
            </div>
            <i class="fas fa-chevron-right"></i>
          </div>
        <% end %>  

        <div class="dropdown">
          <button class="btn btn-link px-3 py-2" type="button" data-toggle="dropdown">
            <i class="fas fa-clone"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to project_duplicates_path(project.id), method: :post, class: "dropdown-item" do %>
              <i class="fas fa-clone"></i> Clone within team
            <% end %>
            <% current_user.teams.where.not(id: @team.id).each do |team| %>
              <% unless team.memberships.find_by(user: current_user)&.guest? %>
                <%= link_to clone_to_team_project_path(project.id, team_id: team.id), method: :post, class: "dropdown-item" do %>
                  <i class="fas fa-exchange-alt"></i> Clone to <%= team.name %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>

        <%= link_to edit_project_path(project.id), class: "px-3 py-2" do %>
          <i class="fas fa-edit"></i>
        <% end %>

        <% unless @team.memberships.find_by(user: current_user)&.guest? %>
          <%= link_to project_path(project.id), method: :delete, data: { confirm: "Are you sure you want to delete '#{project.name}'?" }, class: "px-3 py-2 text-danger" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
