<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Projects
    <%= link_to [@team, :project, action: :new], class: "btn btn-sm btn-outline-primary", title: "Create new project" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div class="list-group list-group-flush" data-controller="filter">
    <div class="list-group-item list-group-item-light">
      <input placeholder="Search" class="form-control" data-action="input->filter#update" autofocus>
    </div>
    <% @team.projects.sort_by { |project| project.name.downcase }.each do |project| %>
      <div class="list-group-item list-group-item-action p-0 align-items-center" data-filter-target="item" style="display: flex;">
        <%= link_to project_path(project), class: "list-group-item list-group-item-action border-0" do %>
          <div class="d-flex align-items-center justify-content-between">
            <%= project.name %>
            <i class="fas fa-chevron-right"></i>
          </div>
        <% end %>  
        <%= link_to project_duplicates_path(project), method: :post, class: "px-3 py-2" do %>
          <i class="fas fa-clone"></i>
        <% end %>
        <%= link_to edit_project_path(project), class: "px-3 py-2" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to project_path(project), method: :delete, data: { confirm: "Are you sure you want to delete '#{project.name}'?" }, class: "px-3 py-2 text-danger" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>