<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Create new region
  </div>
  <div class="card-body">
    <%=
      form_with(
        model: [:admin, @region],
        html: {
          data: {
            controller: "form",
            action: "ajax:error->form#onError",
          }
        }
      ) do |form|
    %>
      <div class="form-group">
        <%= form.label :name %>
        <span data-form-target="error" data-field="name"></span>
        <%= form.text_field :name, class: 'form-control', data: { "form-target": "field", field: "name" } %>
      </div>

      <%= form.submit "Save", class: "btn btn-primary" %>
      <%= link_to "Cancel", [:admin, :regions], class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
