<div class="card">
  <div class="card-header">
    People
  </div>
  <div class="list-group list-group-flush" data-controller="filter">
    <div class="list-group-item list-group-item-light">
      <input placeholder="Search" class="form-control" data-action="input->filter#update" autofocus>
    </div>
    <% User.order(:name).each do |user| %>
      <div class="list-group-item" data-filter-target="item">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <strong><%= user.name %></strong>
            <% if user.admin? %>
              <div class="badge badge-secondary">Administrator</div>
            <% end %>
            <% if user == current_user %>
              <div class="badge badge-secondary">You</div>
            <% end %>
            <br>
            <%= user.email %>
          </div>
          <% if user != current_user %>
            <div class="btn-group btn-group-sm">
              <% if user.admin? %>
                <%= link_to "Demote", demote_admin_user_path(user), method: :post, class: "btn btn-outline-primary" %>
              <% else %>
                <%= link_to "Promote", promote_admin_user_path(user), method: :post, class: "btn btn-outline-primary" %>
              <% end %>
              <%= link_to "Remove", admin_user_path(user), method: :delete, data: { confirm: "Are you sure you want to remove this user?" }, class: "btn btn-outline-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
