<% if @upload.labelling_group.present? %>
  <p><i class="fas fa-check-circle"></i> Upload complete!</p>
  <%= link_to "View labelling", @upload.labelling_group, target: "_blank", class: "btn btn-primary" %>
  <%= link_to "Upload another", [:admin, @region, :labelling_group_upload, action: :new], class: "btn btn-primary" %>
  <%= link_to "Go back", [:admin, @region, :labelling_groups], class: "btn btn-secondary" %>
<% elsif @upload.error_message.present? %>
  <p><i class="fas fa-exclamation-triangle"></i> Error: <%= @upload.error_message %></p>
  <%= link_to "Upload another", [:admin, @region, :labelling_group_upload, action: :new], class: "btn btn-primary" %>
  <%= link_to "Go back", [:admin, @region, :labelling_groups], class: "btn btn-secondary" %>
<% else %>
  <i class="fas fa-spinner fa-pulse"></i> Processing <code><%= @upload.source.filename %></code>...
<% end %>
