<%= extends :with_sidebar do %>
  <% content_for :sidebar_header do %>
    <%= @team.name %>
  <% end %>
  
  <% content_for :sidebar_content do %>
    <%= render "sidebar_link", path: [@team, :regions] do %>
      <i class="fas fa-map-marked fa-fw"></i>
      Regions
    <% end %>
    <%= render "sidebar_link", path: [@team, :label_schemas] do %>
      <i class="fas fa-tags fa-fw"></i>
      Label schemas
    <% end %>
    <%= render "sidebar_link", path: [@team, :projects] do %>
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <i class="fas fa-code fa-fw"></i>
          Projects
        </div>
      </div>
    <% end %>    
    <%= render "sidebar_link", path: [@team, :datasets] do %>
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <i class="fas fa-table fa-fw"></i>
          Datasets
        </div>
        <span class="badge badge-primary">New!</span>
      </div>
    <% end %>
    <%= render "sidebar_link", path: [@team, :models] do %>
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <i class="fas fa-code fa-fw"></i>
          Models
        </div>
        <span class="badge badge-secondary">Legacy</span>
      </div>
    <% end %>
    <%= render "sidebar_link", path: [@team, :memberships] do %>
      <i class="fas fa-users fa-fw"></i>
      People
    <% end %>
    <%= render "sidebar_link", path: edit_team_path(@team) do %>
      <i class="fas fa-sliders-h fa-fw"></i>
      Settings
    <% end %>
  <% end %>

  <%= yield %>
<% end %>
